// Paleta Principal
$brand-black: #000000;
$brand-white: #F2F2F2;
$brand-red: #FF0000;
$brand-red-dark: #A80A04;
$brand-gray: #9F9B97;

// Tipografías
$font-main: 'Open Sans', sans-serif;
$font-h1: 'Archicoco', sans-serif;
$font-h2: 'Archivo Black', sans-serif;