<header class="main-header">
  <div class="nav-container">

    <a routerLink="/" class="brand-logo" (click)="closeMenu()">
      <img src="/images/ph.png" alt="Pablo Herrera - Isotipo">
    </a>

    <button class="menu-toggle" (click)="toggleMenu()" aria-label="Alternar menú">
      @if (!isMenuOpen) {
        <svg viewBox="0 0 24 24" width="28" height="28" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      } @else {
        <svg viewBox="0 0 24 24" width="28" height="28" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      }
    </button>

    <div class="nav-wrapper" [class.open]="isMenuOpen">
      <nav class="nav-links">
       <ul>
          <li><a routerLink="/servicios" (click)="closeMenu()">Servicios</a></li>
          <li><a routerLink="/acerca" (click)="closeMenu()">Acerca de</a></li>
          <li><a routerLink="/blog" (click)="closeMenu()">Blog</a></li>
          <li><a routerLink="/faqs" (click)="closeMenu()">FAQS</a></li>

          @if (!isLoggedIn) {
            <li><a routerLink="/auth" (click)="closeMenu()" style="font-weight: bold; color: var(--primary-color);">Iniciar Sesión</a></li>
          } @else {

            @if (isAdmin) {
              <li><a (click)="irAlPanel()" style="cursor: pointer; font-weight: bold; color: var(--primary-color);">Panel de Coach</a></li>
            }
            @else {
              <li><a (click)="irAlPanel()" style="cursor: pointer; font-weight: bold; color: var(--primary-color);">Mi Expediente</a></li>
            }

            <li><a (click)="cerrarSesion()" style="cursor: pointer; color: #e74c3c;">Cerrar Sesión</a></li>
          }
        </ul>
      </nav>

      <div class="nav-actions">
        <a href="#contacto" class="btn-cta" (click)="closeMenu()">Agenda tu Cita</a>
      </div>
    </div>

  </div>
</header>
